[Desktop Entry]
Icon=application-x-ms-dos-executable
Name=Far Cry 3 v1.05 Plus 25 Trainer.exe
Type=Link
URL[$e]=file:$HOME/Downloads/far_cry_3_v105_plus_25_trainer/Far Cry 3 v1.05 Plus 25 Trainer.exe
X-KDE-LastOpenedWith=com.github.Matoking.protontricks-launch
