[Desktop Entry]
Icon=text-html
Name=forward
Type=Link
URL[$e]=https://epicgames.com/id/login/steam/forward?extLoginState=eyJ0cmFja2luZ1V1aWQiOm51bGwsImxvZ2luUmVxdWVzdElkIjoiOTdjYjZhNDhhMDlhNDY1NzllYzhmNWJjODFkOTQ4NmMiLCJhdXRoQ29kZSI6bnVsbCwiaXNQb3B1cCI6dHJ1ZX0%253D&lang=en-US
X-KDE-LastOpenedWith=firefox
