[Desktop Entry]
Icon=image-jpeg
Name=macOS-BS2.jpg
Type=Link
URL[$e]=file:$HOME/Mac OS Wallpapers/macOS-BS2.jpg
X-KDE-LastOpenedWith=org.kde.plasmashell
