[Desktop Entry]
Icon=image-png
Name=Screenshot_20230128_125332.png
Type=Link
URL[$e]=file:$HOME/Pictures/Screenshot_20230128_125332.png
X-KDE-LastOpenedWith=org.kde.gwenview
