[Desktop Entry]
Icon=text-html
Name=sso
Type=Link
URL[$e]=https://www.nexusmods.com/sso?application=vortex&id=8ab7fee1-b75d-4f1a-9354-78f486008e27
X-KDE-LastOpenedWith=firefox
