[Desktop Entry]
Icon=text-html
Name=
Type=Link
URL[$e]=https://steamcommunity.com/linkfilter/?url=https://hiddenpalace.org/
X-KDE-LastOpenedWith=firefox
