[Desktop Entry]
Icon=text-html
Name=
Type=Link
URL[$e]=http://go.microsoft.com/fwlink/?prd=11324&pver=4.5&sbp=AppLaunch2&plcid=0x409&o1=SHIM_NOVERSION_FOUND&version=(null)&processName=rundll32.exe&platform=0009&osver=5&isServer=0&shimver=4.0.30319.0
X-KDE-LastOpenedWith=firefox
