[Desktop Entry]
Icon=application-zip
Name=WhiteSur-firefox-theme-2021-08-17.zip
Type=Link
URL[$e]=file:$HOME/Downloads/WhiteSur-firefox-theme-2021-08-17.zip
X-KDE-LastOpenedWith=
