[Desktop Entry]
Name= Dead Space
Comment=Play this game on Steam
Exec=steam steam://rungameid/1693980
Icon=steam_icon_1693980
Terminal=false
Type=Application
Categories=Game;
