[Desktop Entry]
Name=GitHub Desktop (3.1.1-linux1)
Exec=/home/tommi/Applications/GitHubDesktop-linux-3.1.1-linux1_e9bec7a83b86c3eb0fb2993e19e990a2.AppImage --no-sandbox %U
Terminal=false
Type=Application
Icon=appimagekit_383fe3d02587a5b9e775e88e5a3b8ab4_github-desktop
StartupWMClass=GitHub Desktop
X-AppImage-Version=3.1.1-linux1
Comment=Simple collaboration from your desktop
MimeType=x-scheme-handler/x-github-client;x-scheme-handler/x-github-desktop-auth;x-scheme-handler/x-github-desktop-dev-auth;
Categories=GNOME;GTK;Development;

TryExec=/home/tommi/Applications/GitHubDesktop-linux-3.1.1-linux1_e9bec7a83b86c3eb0fb2993e19e990a2.AppImage
X-AppImage-Old-Icon=github-desktop
X-AppImage-Old-Name=GitHub Desktop
X-AppImage-Identifier=383fe3d02587a5b9e775e88e5a3b8ab4
Actions=Remove;
X-AppImageLauncher-Version=2.2.0 (git commit 0f91801), built on 2020-09-29 21:36:22 UTC

[Desktop Action Remove]
Name=Remove AppImage from system
Icon=AppImageLauncher
Exec=/usr/lib/x86_64-linux-gnu/appimagelauncher/remove "/home/tommi/Applications/GitHubDesktop-linux-3.1.1-linux1_e9bec7a83b86c3eb0fb2993e19e990a2.AppImage"
Name[ast]=Desaniciar AppImage del sistema
Name[cs]=Odebrat AppImage ze systému
Name[de]=AppImage vom System entfernen
Name[en]=Remove AppImage from system
Name[es]=Eliminar Appimage del Sistema
Name[fr]=Supprimer l'AppImage du système
Name[it]=Rimuovi AppImage dal sistema
Name[nl]=AppImage deïnstalleren
Name[pl]=Usuń AppImage z systemu
Name[pt]=Remover AppImage do sistema
Name[pt_PT]=Remover AppImage do sistema
Name[ru]=Удалить AppImage из системы
Name[zh_Hans]=从系统中移除 AppImage
