[Desktop Entry]
Name=Life is Strange: True Colors
Comment=Play this game on Steam
Exec=steam steam://rungameid/936790
Icon=steam_icon_936790
Terminal=false
Type=Application
Categories=Game;
