[Desktop Entry]
Name=Life is Strange: Before the Storm Remastered
Comment=Play this game on Steam
Exec=steam steam://rungameid/1265930
Icon=steam_icon_1265930
Terminal=false
Type=Application
Categories=Game;
