[Desktop Entry]
Name=Life is Strange Remastered
Comment=Play this game on Steam
Exec=steam steam://rungameid/1265920
Icon=steam_icon_1265920
Terminal=false
Type=Application
Categories=Game;
