[Desktop Entry]
Name=Saints Row IV
Comment=Play this game on Steam
Exec=steam steam://rungameid/206420
Icon=steam_icon_206420
Terminal=false
Type=Application
Categories=Game;
