[Desktop Entry]
Name=The Dark Pictures Anthology: Man of Medan
Comment=Play this game on Steam
Exec=steam steam://rungameid/939850
Icon=steam_icon_939850
Terminal=false
Type=Application
Categories=Game;
