[Desktop Entry]
Name=Twin Mirror
Comment=Play this game on Steam
Exec=steam steam://rungameid/1552810
Icon=steam_icon_1552810
Terminal=false
Type=Application
Categories=Game;
