[Desktop Entry]
Name=Manual
Exec=env WINEPREFIX="/home/tommi/Games/tr3" wine C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\Tomb\\ Raider\\ 3\\ [GOG.com]\\\\Documents\\\\Manual.lnk
Type=Application
StartupNotify=true
Comment=Manual
Path=/home/tommi/Games/tr3/dosdevices/c:/GOG Games/Tomb Raider 3
Icon=0477_Manual.0
StartupWMClass=manual.pdf
