[Desktop Entry]
Name=Uninstall Tomb Raider 3
Exec=env WINEPREFIX="/home/tommi/Games/tr3" wine C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\Tomb\\ Raider\\ 3\\ [GOG.com]\\\\Uninstall\\ Tomb\\ Raider\\ 3.lnk
Type=Application
StartupNotify=true
Path=/home/tommi/Games/tr3/dosdevices/c:/GOG Games/Tomb Raider 3
Icon=58D9_unins000.0
StartupWMClass=unins000.exe
